test/
.vscode/
/build*/
/cmake-build-*/
/out/
/install*/
/.vs/
/.idea/
/.ninja_*
/Testing/
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/CTestTestfile.cmake
*.exe
**pycache**/
*.py[cod]
src/output/
test/output/
src/usr.cpp
